.heading {
    font-size: 4rem;
    color: var(--color-blue-dark-1);
    font-family: var(--font-secondary);

    @media screen and (max-width: 37.5em) {
        text-align: center;
        font-size: 3.5rem;
    }

    &--white {
        color: var(--color-white);
    }
}

.text--white {
    color: var(--color-white) !important;
}
